<div class="container">
    <div class="card">
        <div class="card-header">
            {{name}}
        </div>
        <div class="card-body">
            <img src={{img}} alt="">
            <blockquote class="blockquote mb-0">
                <p>Primera aparición: {{first}}</p>
                <p>Etnia: {{etnia}}</p>
                <p>Nacimiento: {{born}}</p>
                <footer class="blockquote-footer">Posición política: <cite title="Source Title">{{position}}</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>